body {
    margin: 0;
    background-color: #1F2937;
    color: white;
    font-family: 'Karla', sans-serif;
}

h1 {
    font-weight: 800;
    font-size: 40px;
}

.main-text {
 margin-top: 50%;
}

.container {
    width: 500px;
    height: 500px;
    margin: 0 auto;
}

span {
    color: #4ADF86;
}

button {
    margin-top: 40px;
    background-color: #10B981;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    
}


h2 {
   color: #D5D4D8;
}

hr {
    border: 1px solid #2F3E53;
    margin-top: 30px;
}

.pw {
    background: #273549;
    border-radius: 6px;
    width: 230px;
    height: 39px;
    border: none;
    margin-top: 30px;
    
}

.pw2 {
    margin-left: 36px;
} 

input {
    color: #10B981;
    text-align: center;
}